@* @model List<Persona> *@

@{
    ViewData["Title"] = "Elenco Persone";
}

<div class="text-center">
    <h1 class="display-4">Persone</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
        </tr>

        <tbody>
            @foreach (Persona p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Nome</td>
                    <td>@p.Cognome</td>
                    <td>@p.Email</td>
                </tr>
            }
        </tbody>

    </table>

    <h3></h3>

</div>